.gameCardWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.paginationWrap {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.inputFilterWrap {
    display: flex;
    justify-content: center;
    margin: 2% auto 0 auto;
}